@import '_variables';
@import 'helpers/_mixins';

#header {
  height: 55px;
  
  @include flex(row, center, center);
  
  h3 {
    line-height: 55px;
    padding: 0 10px;
    margin: 0;
    // Compensate coin dimensions
    margin-left: -10px;
  }
}

#routeInfos {
  padding: 20px;
  -moz-box-shadow: 0px 1px 5px 0px #676767;
  -webkit-box-shadow: 0px 1px 5px 0px #676767;
  box-shadow: 0px 1px 5px 0px #676767;
  .breadcrumbItem {
    a {
      color: $primary-color;
      font-size: 16px;
    }
    &:after {
      content: '/';
      padding: 2px;
    }
    &:last-child {
      &:after {
        content: '';
        padding: 5px;
      }
    }
  }
}